
profling.prof
__pycache__/bot.cpython-39.pyc
__pycache__/timer.cpython-39.pyc
build/main/xref-main.html
build/main/warn-main.txt
build/main/PYZ-00.toc
build/main/PYZ-00.pyz
build/main/PKG-00.toc
build/main/PKG-00.pkg
build/main/EXE-00.toc
build/main/base_library.zip
build/main/Analysis-00.toc
__pycache__/timer.cpython-39.pyc
__pycache__/main.cpython-39.pyc
__pycache__/bot.cpython-39.pyc
build/main/xref-main.html
__pycache__/bot.cpython-39.pyc
*.npy
piss.py
